local.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2020 rel. 2 (x64) (http://www.altova.com) by Артем (ЯАРТЕМ) -->
<!-- W3C Schema generated by XMLSpy v2020 rel. 2 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="all_data">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="product" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="brand">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Adidas"/>
				<xs:enumeration value="Nike"/>
				<xs:enumeration value="Riddell"/>
				<xs:enumeration value="Under armour"/>
				<xs:enumeration value="adidas"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="characters">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="delivery"/>
				<xs:element ref="returns"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="delivery">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Estimated between Mon. May. 18 and Tue. Jun. 16"/>
				<xs:enumeration value="Estimated between Thu. May. 14 and Fri. Jun. 19"/>
				<xs:enumeration value="Estimated between Thu. May. 14 and Tue. Jun. 9"/>
				<xs:enumeration value="Estimated between Tue. May. 12 and Wed. Jun. 10"/>
				<xs:enumeration value="Estimated between Tue. May. 5 and Thu. Jun. 11"/>
				<xs:enumeration value="Estimated between Wed. May. 13 and Thu. Jun. 11"/>
				<xs:enumeration value="Estimated between Wed. May. 6 and Mon. Jun. 1"/>
				<xs:enumeration value="Varies"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="name">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="11"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="price">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="$17.99"/>
				<xs:enumeration value="$18.00"/>
				<xs:enumeration value="$19.99"/>
				<xs:enumeration value="$20.25"/>
				<xs:enumeration value="$21.00"/>
				<xs:enumeration value="$29.99"/>
				<xs:enumeration value="$34.00"/>
				<xs:enumeration value="$36.88"/>
				<xs:enumeration value="$50.90"/>
				<xs:enumeration value="$55.33"/>
				<xs:enumeration value="$55.93"/>
				<xs:enumeration value="$9.99"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="product">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:element ref="price"/>
				<xs:element ref="brand"/>
				<xs:element ref="characters"/>
			</xs:sequence>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="648357"/>
						<xs:enumeration value="651356"/>
						<xs:enumeration value="651789"/>
						<xs:enumeration value="652887"/>
						<xs:enumeration value="657991"/>
						<xs:enumeration value="659486"/>
						<xs:enumeration value="660210"/>
						<xs:enumeration value="660984"/>
						<xs:enumeration value="661234"/>
						<xs:enumeration value="661985"/>
						<xs:enumeration value="662213"/>
						<xs:enumeration value="662745"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="returns">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="14 day returns"/>
				<xs:enumeration value="30 day returns"/>
				<xs:enumeration value="Seller does not accept returns"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
